*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Conteiner-principale{
    width: 85vw;
    height: 120vh;
    background-color: #0f2d25;
    margin: auto;
}



/* ------Logo------ */

#Logo{
    display: flex;
    justify-content: center;
}

#Logo > img{
    max-width: 150px;
    margin: 12px;
}


/* ------Logo end------ */


/* contenuto primo conteiner content */

#Conteiner-1content{
    width: 51%;
    height: 50%;
    margin: auto;
    
}

#Conteiner-1content h1{
    color: white;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;

    text-align: center;
}

#Conteiner-1content p{
    color: white;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;

    text-align: center;
}


/* FINE  contenuto primo conteiner content FINE */


/*contenuto secondo conteiner content  */
#Conteiner-2content{
    width: 35%;
    height: 12%;
    margin: auto;
    margin-top: 30px;
}

#Bottone1 input{
    padding: 20px 148px 20px 10px;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#Bottone2 input{
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 6px;
    margin-left: 4%;
    background-color: #008060;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#Conteiner-2content p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.78rem;
    text-align: center;
    margin-top: 30px;
}

#Conteiner-2content p a{
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* FINE contenuto secondo conteiner content FINE */



#Conteiner-3content{
    width: 63%;
    height: 56%;
    margin: auto;
    margin-top: 7%;
    background-image: url(img/sfondo-1.webp);
    background-repeat: no-repeat;
}


#Conteiner-4content{
    width: 500px;
    height: 1500px;
    background-color: aquamarine;
}