*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Conteiner-principale{
    width: 85vw;
    height: 100vh;
    background-color: greenyellow;
    margin: auto;
}



/* ------Logo------ */

#Logo{
    display: flex;
    justify-content: center;
}

#Logo > img{
    max-width: 150px;
    margin: 12px;
}


/* ------Logo end------ */


#Conteiner-1content{
    width: 51%;
    height: 60%;
    background-color: green;
    margin: auto;
    
}

#Conteiner-1content h1{
    color: white;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;

    text-align: center;
}

#Conteiner-1content p{
    color: white;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;

    text-align: center;
}